[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "ModelMetrics"]
	path = ModelMetrics
	url = https://github.com/jackstat/modelmetrics
